name: Build pull request

on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev

jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle
        uses: burrunan/gradle-cache-action@v3

      - name: Build
        env:
          GPR_USER: ${{ secrets.GPR_USER }}
          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
        run: ./gradlew :patches:buildAndroid --no-daemon --no-daemon -Pgpr.user=${{ env.GPR_USER }} -Pgpr.key=${{ env.GPR_TOKEN }}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: ./gradlew :patches:buildAndroid --no-daemon

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: morphe-patches
          path: patches/build/libs
